# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
js/bundle.js
config.json
/semantic/dist/
/dist/
js/bundle*
js/rev-manifest.json
development.json
test.json
product.json
js/config.js

#### joe made this: http://goel.io/joe

#####=== Vim ===#####
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

css/main.css.map
css/
.lvimrc
