@import '../table';
@import 'colors.css/src/_variables.css';
@import '../_globals.css';

:root {
    --focusedColor: color(var(--red) l(+20%));
}

.sg, .smart-grid {
    @extend .table;
    @extend .table-celled;
    @extend .table-striped;
    @extend .table-compact;
    text-align: center;

    & tr:first-child {
        & > th {
            background: color(var(--gray) l(80%));
        }
        & > th.-focused {
            background: var(--focusedColor);
        }
    }

    & > tbody {
        & th:first-child {
            background: color(var(--gray) l(80%));
        }
        & th:first-child.-focused {
            background: var(--focusedColor);
        }

        & td.-selected {
            background: var(--focusedColor);
        }
    }
}
