<div class="ui grid container">
  <div class="row">
    <div class="column">
      <div class="ui top attached blue message">
        <div class="ui header">创建新发票</div>
      </div>
      <div class="ui bottom attached segment">
        <%- invoiceForm %>
      </div>
    </div>
  </div>
</div>

