.dropdown {
    position: relative;
    border: 1px solid var(--color-gray);
    cursor: pointer;
    overflow-wrap: break-word;
    line-height: 1rem;
    white-space: normal;
    outline: 0;
    min-width: 14rem;
    min-height: 2.7142rem;
    background: var(--white);
    display: inline-block;
    padding: .78571429rem 2.1rem .78571429rem 1rem;
    color: rgba(0,0,0,.87);
    box-shadow: none;
    border-radius: .28571429rem;
    & > .icon {
        cursor: pointer;
        position: absolute;
        width: auto;
        height: auto;
        line-height: 1.2142em;
        top: .78571429em;
        right: 1em;
        z-index: 3;
        margin: -.78571429em;
        padding: .78571429em;
        opacity: .8;
    }
    & > .text {
        display: inline-block;
        color: var(--color-primary-text);
    }
    & > .text.filtered {
        display: none;
    }
    & > .text-default {
        color: var(--color-secondary-text);
    }
    & > .menu {
        display: none;
        left: 0;
        color: var(--color-primary-text);
        border-top-left-radius: 0!important;
        border-top-right-radius: 0!important;
        border: 1px solid var(--color-primary);
        box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
        overflow-x: hidden;
        overflow-y: auto;
        backface-visibility: hidden;
        border-top-width: 0;
        outline: 0;
        margin: 0 -1px;
        min-width: calc(100% + 2px);
        width: calc(100% + 2px);
        border-radius: 0 0 .28571429rem .28571429rem;
        box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
        cursor: auto;
        position: absolute;
        outline: 0;
        top: 100%;
        min-width: max-content;
        padding: 0;
        background: #FFF;
        font-size: 1em;
        text-shadow: none;
        text-align: left;
        box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
        border-radius: .28571429rem;
        z-index: 11;

        & > .item, & > .message {
            display: none;
            border-top: 1px solid #FAFAFA;
            padding: .78571429rem 1.14285714rem;
            white-space: normal;
            word-wrap: normal;
        }
        & > .message {
            color: var(--color-secondary-text);
        }
        & > .item:hover {
            background: var(--color-gray-light);
            z-index: 13;
        }

        & > .item-selected {
            font-weight: bold;
        }
    }

    & .search {
        line-height: 1.2142em;
        padding: .67861429em 2.1em .67861429em 1em;
        background: none;
        border: none;
        box-shadow: none;
        cursor: text;
        top: 0;
        left: 0;
        width: 100%;
        outline: 0;
        padding: inherit;
        position: absolute;
        z-index: 2;
    }
}

.dropdown.dropdown-activated {
    border: 1px solid var(--color-primary);
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;

    & > .menu {
        display: block;
        & > .item, & > .message {
            display: block;
        }
        & > .item.filtered {
            display: none;
        }
    }    
    & .search {
        cursor: auto;
    }
}

