@import '../_settings';

:root {
    --label-width: 30%;
}

.form {
    label {
        display: block;
    }
    input {
        display: block;
    }
    textarea {
        display: block;
    }
}

.field {
    margin: 1rem; 
    position: relative;
    & label {
        font-weight: bold;
        margin: 0 .5rem;
    }
    & input {
        border: 1px solid var(--color-gray);
        line-height: 1rem;
        white-space: normal;
        outline: 0;
        min-width: 14rem;
        min-height: 2.7142rem;
        background: var(--white);
        padding: .78571429rem 2.1rem .78571429rem 1rem;
        color: rgba(0,0,0,.87);
        box-shadow: none;
        border-radius: .28571429rem;
    }
    & > input[type=checkbox] {
        min-width: auto;
        min-height: auto;
        width: auto;
    }
    & > textarea {
        min-width: 14rem;
    }
}

.field.inline {
    display: block;
    & > label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: var(--label-width);
        word-wrap: break-word;
    }
    & > label+.input, & > label+input, & > label+textarea, & > label+.dropdown {
        display: inline-block;
        margin-left: calc(var(--label-width) + 1rem);
        width: calc(100% - var(--label-width) - 1rem);
    }
    & > input[type=checkbox] {
        width: auto;
        margin-left: .5rem;
    }
    & > .input {
        min-height: 2.7142rem;
        & > input, & > textarea, & > .dropdown {
            width: 100%;
        }
        & > .text {
            height: 2.7142rem;
            line-height: 1rem;
            padding: .78571429rem 2.1rem .78571429rem 1rem;
        }
    }
}

.field.required {
    & > label:first-child::after {
        margin: -.2em 0 0 .2em;
        content: '*';
        color: var(--color-accent);
    }
}


.field.error {
    & .dropdown {
        border-color: var(--color-accent);
    }
}
