.segment {
    position: relative;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);

    & .divider {
        border-top: 1px solid rgba(34,36,38,.15);
        border-bottom: 1px solid rgba(255,255,255,.1);
        margin: 1rem 0;
        line-height: 1;
        height: 0;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05em;
        color: rgba(0,0,0,.85);
        -webkit-user-select: none;
        user-select: none;
        tap-highlight-color: transparent;
        font-size: 1rem;
    }
    
    & .item {
        padding: .5rem 1rem;
        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        & .title {
            display: inline-block;
            font-weight: 700;
            line-height: 1rem;
        }
        & .ops {
            display: inline-block;
            float: right;
            & button {
                outline: none;
                border: none;
                height: 1rem;
                padding: 0;
                line-height: 1rem;
                background: none;
            }
        }
        &:not(:last-child) {
            border-bottom: 1px solid rgba(34,36,38,.15);
        }
    }
}
