@import '../table';
@import 'colors.css/src/_variables.css';
@import '../../_settings.css';

:root {
    --th-font-weight: 700;
    --table-border: 1px solid #eee;
    --table-striped-background-color: #f4f4f4;
    --focused-color: color(var(--red) l(+20%));
    --scrollbar-width: 10px;
    --tab-nav-height: 1.4rem;
    --cell-height: 1.4rem;
    --cell-width: 6rem;
    --v-header-width: 3rem;
    --cell-padding-x: .5rem;
    --cell-padding-y: .2rem;
}

.smart-grid {
    position: relative;
	max-width: 100%;
	width: 100%;
    height: 100%;
    overflow: hidden;


	& td, & th {
		border: var(--table-border);
        vertical-align: bottom;
        position: relative;
		&:first-child {
			padding-left: var(--space-1);
		}
		&:last-child {
			padding-right: var(--space-1);
		}
	}

    & .editor {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
    }

    & tr:nth-child(odd) td {
        background: var(--table-striped-background-color);
    }

    & tr:first-child {
        & > th {
            background: color(var(--gray) l(80%));
        }
        & > th.-focused {
            background: var(--focused-color);
        }
    }

    & > tbody {
        & th:first-child {
            background: color(var(--gray) l(80%));
        }
        & th:first-child.-focused {
            background: var(--focused-color);
        }

        & td.-selected {
            background: var(--focused-color);
        }
    }

    & .grid {
        position: absolute;
        overflow: hidden;
        width: calc(100% - var(--scrollbar-width));
        height: calc(100% - var(--tab-nav-height) - var(--scrollbar-width));
        user-select: none;

        & * {
            box-sizing: border-box;
        }

        & .header {
            background: var(--color-gray-light);
            display: inline-block;
            line-height: calc(var(--cell-height) - 2 * var(--cell-padding-y));
            padding: var(--cell-padding-y) var(--cell-padding-x);
        }

        & .v-h-header {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: var(--v-header-width);
            height: var(--cell-height);
        }
         
        & .top-label-row {
            position: absolute;
            top: 0;
            left: 3rem;
            width: 1000%;
            border-bottom: 1px solid var(--color-gray);
            
            & .header {
                width: var(--cell-width);
                border-right: 1px solid var(--color-gray);
            }
        }

        & .left-label-row {
            position: absolute;
            top: var(--cell-height);
            left: 0;
            width: var(--v-header-width);
            height: 1000%;
            border-right: 1px solid var(--color-gray);

            & .header {
                width: 100%;
                text-align: center;
                padding-left: 0;
                padding-right: 0;
                border-bottom: 1px solid var(--color-gray);
            }
        }

    }

    & .scrollbar {
        position: absolute;
        background: var(--color-gray-light);
        border-radius: var(--scrollbar-width);

        & .bar {
            position: absolute;
            background: var(--color-gray-dark);
            border-radius: var(--scrollbar-width);
        }

        &.dragging .bar {
            background: var(--color-gray);
        }

        &.horizontal {
            left: 0;
            bottom: var(--tab-nav-height);
            height: var(--scrollbar-width);
            width: calc(100% - var(--scrollbar-width));

            & .bar {
                height: 100%;
            }
        }

        &.vertical {
            top: 0;
            right: 0;
            height: calc(100% - var(--tab-nav-height) - var(--scrollbar-width));
            width: var(--scrollbar-width);
            & .bar {
                width: 100%;
            }
        }
    }

    & > .tabs {
        position: absolute;
        bottom: 0;
        height: var(--tab-nav-height);

        & a {
            -webkit-user-select: none;
            outline: none;
            float: left;
            text-decoration: none;
            height: 100%;
            max-height: 100%;
            box-sizing: border-box;
            padding: 0 1rem;
            border: 1px solid var(--color-gray-light);
            color: var(--color-gray-dark);
            &.active {
                color: var(--color-primary);
                border: 1px solid var(--color-primary);
            }
        }
    }
}
