:root {
    /*******************************
             Site Settings
    *******************************/

    /*-------------------
           Fonts
    --------------------*/

    --fontName          : 'Lato';
    --fontSmoothing     : antialiased;

    --headerFont        : var(--fontName), 'Helvetica Neue', Arial, Helvetica, sans-serif;
    --pageFont          : var(--fontName), 'Helvetica Neue', Arial, Helvetica, sans-serif;

    --googleFontName    : var(--fontName);
    --importGoogleFonts : true;
    --googleFontSizes   : '400,700,400italic,700italic';
    --googleSubset      : 'latin';

    --googleProtocol    : 'https://';
    --googleFontRequest : '@{googleFontName}:@{googleFontSizes}&subset=@{googleSubset}';

    /*-------------------
          Base Sizes
    --------------------*/

    /* This is the single variable that controls them all */
    --emSize   : 14px;

    /* The size of page text  */
    --fontSize : 14px;


    /*-------------------
        Border Radius
    --------------------*/

    /* See Power-user section below
       for explanation of --px variables
    */
    --relativeBorderRadius: var(--relative4px);
    --absoluteBorderRadius: var(--4px);

    --defaultBorderRadius: var(--absoluteBorderRadius);

    /*-------------------
        Brand Colors
    --------------------*/

    --primaryColor        : var(--blue);
    --secondaryColor      : var(--black);

    --lightPrimaryColor   : var(--lightBlue);
    --lightSecondaryColor : var(--lightBlack);

    /*--------------
      Page Heading
    ---------------*/

    --headerFontWeight : bold;
    --headerLineHeight : 1.2857em;

    --h1 : 2rem;
    --h2 : 1.714rem;
    --h3 : 1.28rem;
    --h4 : 1.071rem;
    --h5 : 1rem;

    /*--------------
       Form Input
    ---------------*/

    /* This adjusts the default form input across all elements */
    --inputBackground        : var(--white);
    --inputVerticalPadding   : var(--relative11px);
    --inputHorizontalPadding : var(--relative14px);
    --inputPadding           : var(--inputVerticalPadding) var(--inputHorizontalPadding);

    /* Input Text Color */
    --inputColor: var(--textColor);
    --inputPlaceholderColor: lighten(var(--inputColor), 75);
    --inputPlaceholderFocusColor: lighten(var(--inputColor), 45);

    /* Line Height Default For Inputs in Browser */
    --inputLineHeight: 1.2142em;

    /*-------------------
        Focused Input
    --------------------*/

    /* Used on inputs, textarea etc */
    --focusedFormBorderColor: #85B7D9;

    /* Used on dropdowns, other larger blocks */
    --focusedFormMutedBorderColor: #96C8DA;

    /*-------------------
            Sizes
    --------------------*/

    /*
      Sizes are all expressed in terms of 14px/em (default em)
      This ensures these "ratios" remain constant despite changes in EM
    */

    --miniSize        : (11 / 14);
    --tinySize        : (12 / 14);
    --smallSize       : (13 / 14);
    --mediumSize      : (14 / 14);
    --largeSize       : (16 / 14);
    --bigSize         : (18 / 14);
    --hugeSize        : (20 / 14);
    --massiveSize     : (24 / 14);


    /*-------------------
            Page
    --------------------*/

    --pageBackground      : #FFFFFF;
    --pageOverflowX       : hidden;

    --lineHeight          : 1.4285em;
    --textColor           : rgba(0, 0, 0, 0.87);

    /*-------------------
          Paragraph
    --------------------*/

    --paragraphMargin     : 0em 0em 1em;
    --paragraphLineHeight : var(--lineHeight);

    /*-------------------
           Links
    --------------------*/

    --linkColor           : #4183C4;
    --linkUnderline       : none;
    --linkHoverColor      : darken(saturate(var(--linkColor), 20), 15, relative);
    --linkHoverUnderline  : var(--linkUnderline);

    /*-------------------
      Highlighted Text
    --------------------*/

    --highlightBackground      : #CCE2FF;
    --highlightColor           : var(--textColor);

    --inputHighlightBackground : rgba(100, 100, 100, 0.4);
    --inputHighlightColor      : var(--textColor);


    /*-------------------
           Loader
    --------------------*/

    --loaderSize              : var(--relativeBig);
    --loaderSpeed             : 0.6s;
    --loaderLineWidth         : 0.2em;
    --loaderFillColor         : rgba(0, 0, 0, 0.1);
    --loaderLineColor         : var(--grey);

    --invertedLoaderFillColor : rgba(255, 255, 255, 0.15);
    --invertedLoaderLineColor : var(--white);

    /*-------------------
            Grid
    --------------------*/

    --columnCount: 16;

    /*-------------------
         Transitions
    --------------------*/

    --defaultDuration : 0.1s;
    --defaultEasing   : ease;

    /*-------------------
         Breakpoints
    --------------------*/

    --mobileBreakpoint            : 320px;
    --tabletBreakpoint            : 768px;
    --computerBreakpoint          : 992px;
    --largeMonitorBreakpoint      : 1200px;
    --widescreenMonitorBreakpoint : 1920px;

    /*-------------------
          Site Colors
    --------------------*/
    --violet           : #6435C9;
    --pink             : #E03997;
    --brown            : #A5673F;
    --grey :var(--gray);


    /*---  Light Colors  ---*/
    --lightRed         : #FF695E;
    --lightOrange      : #FF851B;
    --lightYellow      : #FFE21F;
    --lightOlive       : #D9E778;
    --lightGreen       : #2ECC40;
    --lightTeal        : #6DFFFF;
    --lightBlue        : #54C8FF;
    --lightViolet      : #A291FB;
    --lightPurple      : #DC73FF;
    --lightPink        : #FF8EDF;
    --lightBrown       : #D67C1C;
    --lightGrey        : #DCDDDE;
    --lightBlack       : #545454;

    /*---   Neutrals  ---*/
    --fullBlack        : #000000;
    --offWhite         : #F9FAFB;
    --darkWhite        : #F3F4F5;
    --midWhite         : #DCDDDE;
    --white            : #FFFFFF;

    /*--- Colored Backgrounds ---*/
    --redBackground    : #FFE8E6;
    --orangeBackground : #FFEDDE;
    --yellowBackground : #FFF8DB;
    --oliveBackground  : #FBFDEF;
    --greenBackground  : #E5F9E7;
    --tealBackground   : #E1F7F7;
    --blueBackground   : #DFF0FF;
    --violetBackground : #EAE7FF;
    --purpleBackground : #F6E7FF;
    --pinkBackground   : #FFE3FB;
    --brownBackground  : #F1E2D3;

    /*--- Colored Headers ---*/
    --redHeaderColor    : darken(var(--redTextColor), 5);
    --oliveHeaderColor  : darken(var(--oliveTextColor), 5);
    --greenHeaderColor  : darken(var(--greenTextColor), 5);
    --yellowHeaderColor : darken(var(--yellowTextColor), 5);
    --blueHeaderColor   : darken(var(--blueTextColor), 5);
    --tealHeaderColor   : darken(var(--tealTextColor), 5);
    --pinkHeaderColor   : darken(var(--pinkTextColor), 5);
    --violetHeaderColor : darken(var(--violetTextColor), 5);
    --purpleHeaderColor : darken(var(--purpleTextColor), 5);
    --orangeHeaderColor : darken(var(--orangeTextColor), 5);
    --brownHeaderColor  : darken(var(--brownTextColor), 5);

    /*--- Colored Text ---*/
    --redTextColor    : var(--red);
    --orangeTextColor : var(--orange);
    --yellowTextColor : #B58105; // Yellow text is difficult to read
    --oliveTextColor  : #8ABC1E; // Olive is difficult to read
    --greenTextColor  : #1EBC30; // Green is difficult to read
    --tealTextColor   : #10A3A3; // Teal text is difficult to read
    --blueTextColor   : var(--blue);
    --violetTextColor : var(--violet);
    --purpleTextColor : var(--purple);
    --pinkTextColor   : var(--pink);
    --brownTextColor  : var(--brown);

    /*--- Colored Border ---*/
    --redBorderColor    : var(--redTextColor);
    --orangeBorderColor : var(--orangeTextColor);
    --yellowBorderColor : var(--yellowTextColor);
    --oliveBorderColor  : var(--oliveTextColor);
    --greenBorderColor  : var(--greenTextColor);
    --tealBorderColor   : var(--tealTextColor);
    --blueBorderColor   : var(--blueTextColor);
    --violetBorderColor : var(--violetTextColor);
    --purpleBorderColor : var(--purpleTextColor);
    --pinkBorderColor   : var(--pinkTextColor);
    --brownBorderColor  : var(--brownTextColor);

    /*-------------------
         Alpha Colors
    --------------------*/

    --subtleTransparentBlack     : rgba(0, 0, 0, 0.03);
    --transparentBlack           : rgba(0, 0, 0, 0.05);
    --strongTransparentBlack     : rgba(0, 0, 0, 0.10);
    --veryStrongTransparentBlack : rgba(0, 0, 0, 0.15);

    --subtleTransparentWhite     : rgba(255, 255, 255, 0.02);
    --transparentWhite           : rgba(255, 255, 255, 0.08);
    --strongTransparentWhite     : rgba(255, 255, 255, 0.15);

    /*-------------------
           Accents
    --------------------*/

    /* Differentiating Neutrals */
    --subtleGradient: linear-gradient(transparent, var(--transparentBlack));

    /* Differentiating Layers */
    --subtleShadow:
      0px 1px 2px 0 --borderColor
    ;
    --floatingShadow:
      0px 2px 4px 0px rgba(34, 36, 38, 0.12),
      0px 2px 10px 0px rgba(34, 36, 38, 0.15)
    ;

    /*******************************
               Power-User
    *******************************/


    /*-------------------
        Emotive Colors
    --------------------*/

    /* Positive */
    --positiveColor           : var(--green);
    --positiveBackgroundColor : #FCFFF5;
    --positiveBorderColor     : #A3C293;
    --positiveHeaderColor     : #1A531B;
    --positiveTextColor       : #2C662D;

    /* Negative */
    --negativeColor           : var(--red);
    --negativeBackgroundColor : #FFF6F6;
    --negativeBorderColor     : #E0B4B4;
    --negativeHeaderColor     : #912D2B;
    --negativeTextColor       : #9F3A38;

    /* Info */
    --infoColor              : #31CCEC;
    --infoBackgroundColor    : #F8FFFF;
    --infoBorderColor        : #A9D5DE;
    --infoHeaderColor        : #0E566C;
    --infoTextColor          : #276F86;

    /* Warning */
    --warningColor           : #F2C037;
    --warningBorderColor     : #C9BA9B;
    --warningBackgroundColor : #FFFAF3;
    --warningHeaderColor     : #794B02;
    --warningTextColor       : #573A08;

    /*-------------------
            Paths
    --------------------*/

    /* For source only. Modified in gulp for dist */
    --imagePath : '../../themes/default/assets/images';
    --fontPath  : '../../themes/default/assets/fonts';

    /*-------------------
           Em Sizes
    --------------------*/

    /*
      This rounds --size values to the closest pixel then expresses that value in (r)em.
      This ensures all size values round to exact pixels
    */
    --mini            : unit( round(var(--miniSize) * var(--emSize)) / var(--emSize), rem);
    --tiny            : unit( round(var(--tinySize) * var(--emSize)) / var(--emSize), rem);
    --small           : unit( round(var(--smallSize) * var(--emSize)) / var(--emSize), rem);
    --medium          : unit( round(var(--mediumSize) * var(--emSize)) / var(--emSize), rem);
    --large           : unit( round(var(--largeSize) * var(--emSize)) / var(--emSize), rem);
    --big             : unit( round(var(--bigSize) * var(--emSize)) / var(--emSize), rem);
    --huge            : unit( round(var(--hugeSize) * var(--emSize)) / var(--emSize), rem);
    --massive         : unit( round(var(--massiveSize) * var(--emSize)) / var(--emSize), rem);

    /* em */
    --relativeMini    : unit( round(var(--miniSize) * var(--emSize)) / var(--emSize), em);
    --relativeTiny    : unit( round(var(--tinySize) * var(--emSize)) / var(--emSize), em);
    --relativeSmall   : unit( round(var(--smallSize) * var(--emSize)) / var(--emSize), em);
    --relativeMedium  : unit( round(var(--mediumSize) * var(--emSize)) / var(--emSize), em);
    --relativeLarge   : unit( round(var(--largeSize) * var(--emSize)) / var(--emSize), em);
    --relativeBig     : unit( round(var(--bigSize) * var(--emSize)) / var(--emSize), em);
    --relativeHuge    : unit( round(var(--hugeSize) * var(--emSize)) / var(--emSize), em);
    --relativeMassive : unit( round(var(--massiveSize) * var(--emSize)) / var(--emSize), em);

    /* rem */
    --absoluteMini    : unit( round(var(--miniSize) * var(--emSize)) / var(--emSize), rem);
    --absoluteTiny    : unit( round(var(--tinySize) * var(--emSize)) / var(--emSize), rem);
    --absoluteSmall   : unit( round(var(--smallSize) * var(--emSize)) / var(--emSize), rem);
    --absoluteMedium  : unit( round(var(--mediumSize) * var(--emSize)) / var(--emSize), rem);
    --absoluteLarge   : unit( round(var(--largeSize) * var(--emSize)) / var(--emSize), rem);
    --absoluteBig     : unit( round(var(--bigSize) * var(--emSize)) / var(--emSize), rem);
    --absoluteHuge    : unit( round(var(--hugeSize) * var(--emSize)) / var(--emSize), rem);
    --absoluteMassive : unit( round(var(--massiveSize) * var(--emSize)) / var(--emSize), rem);

    /*-------------------
           Icons
    --------------------*/

    /* Maximum Glyph Width of Icon */
    --iconWidth : 1.18em;

    /*-------------------
         Neutral Text
    --------------------*/

    --darkTextColor               : rgba(0, 0, 0, 0.85);
    --mutedTextColor              : rgba(0, 0, 0, 0.6);
    --lightTextColor              : rgba(0, 0, 0, 0.4);

    --unselectedTextColor         : rgba(0, 0, 0, 0.4);
    --hoveredTextColor            : rgba(0, 0, 0, 0.8);
    --pressedTextColor            : rgba(0, 0, 0, 0.9);
    --selectedTextColor           : rgba(0, 0, 0, 0.95);
    --disabledTextColor           : rgba(0, 0, 0, 0.2);

    --invertedTextColor           : rgba(255, 255, 255, 0.9);
    --invertedMutedTextColor      : rgba(255, 255, 255, 0.8);
    --invertedLightTextColor      : rgba(255, 255, 255, 0.7);
    --invertedUnselectedTextColor : rgba(255, 255, 255, 0.5);
    --invertedHoveredTextColor    : rgba(255, 255, 255, 1);
    --invertedPressedTextColor    : rgba(255, 255, 255, 1);
    --invertedSelectedTextColor   : rgba(255, 255, 255, 1);
    --invertedDisabledTextColor   : rgba(255, 255, 255, 0.2);

    /*-------------------
         Brand Colors
    --------------------*/

    --facebookColor   : #3B5998;
    --twitterColor    : #0084B4;
    --googlePlusColor : #DC4A38;
    --linkedInColor   : #1F88BE;
    --youtubeColor    : #CC181E;
    --instagramColor  : #49769C;
    --pinterestColor  : #00ACED;
    --vkColor         : #4D7198;

    /*-------------------
          Borders
    --------------------*/

    --circularRadius                : 500rem;

    --borderColor               : rgba(34, 36, 38, 0.15);
    --strongBorderColor         : rgba(34, 36, 38, 0.22);
    --internalBorderColor       : rgba(34, 36, 38, 0.1);
    --selectedBorderColor       : rgba(34, 36, 38, 0.35);
    --strongSelectedBorderColor : rgba(34, 36, 38, 0.5);
    --disabledBorderColor       : rgba(34, 36, 38, 0.5);

    --solidInternalBorderColor  : #FAFAFA;
    --solidBorderColor          : #D4D4D5;
    --solidSelectedBorderColor  : #BCBDBD;

    --whiteBorderColor              : rgba(255, 255, 255, 0.1);
    --selectedWhiteBorderColor      : rgba(255, 255, 255, 0.8);

    --solidWhiteBorderColor         : #555555;
    --selectedSolidWhiteBorderColor : #999999;


    /*-------------------
        Derived Values
    --------------------*/

    /* Loaders Position Offset */
    --loaderOffset : -(var(--loaderSize) / 2);
    --loaderMargin : var(--loaderOffset) 0em 0em var(--loaderOffset);

    /* Rendered Scrollbar Width */
    --scrollbarWidth: 17px;

    /* Maximum Single Character Glyph Width, aka Capital "W" */
    --glyphWidth: 1.1em;

    /* Used to match floats with text */
    --lineHeightOffset       : ((var(--lineHeight) - 1em) / 2);
    --headerLineHeightOffset : (var(--headerLineHeight) - 1em) / 2;

    /* Header Spacing */
    --headerTopMargin    : ~"calc(2rem - "var(--headerLineHeightOffset)~")";
    --headerBottomMargin : 1rem;
    --headerMargin       : var(--headerTopMargin) 0em var(--headerBottomMargin);

    /* Minimum Mobile Width */
    --pageMinWidth       : 320px;

    /* Positive / Negative Dupes */
    --successBackgroundColor : var(--positiveBackgroundColor);
    --successColor           : var(--positiveColor);
    --successBorderColor     : var(--positiveBorderColor);
    --successHeaderColor     : var(--positiveHeaderColor);
    --successTextColor       : var(--positiveTextColor);

    --errorBackgroundColor   : var(--negativeBackgroundColor);
    --errorColor             : var(--negativeColor);
    --errorBorderColor       : var(--negativeBorderColor);
    --errorHeaderColor       : var(--negativeHeaderColor);
    --errorTextColor         : var(--negativeTextColor);


    /* Responsive */
    --largestMobileScreen : calc(var(--tabletBreakpoint) - 1px);
    --largestTabletScreen : calc(var(--computerBreakpoint) - 1px);
    --largestSmallMonitor : calc(var(--largeMonitorBreakpoint) - 1px);
    --largestLargeMonitor : calc(var(--widescreenMonitorBreakpoint) - 1px);


    /*-------------------
      Exact Pixel Values
    --------------------*/
    /*
      These are used to specify exact pixel values in em
      for things like borders that remain constantly
      sized as emSize adjusts

      Since there are many more sizes than names for sizes,
      these are named by their original pixel values.

    */

    --1px  : unit( (1 / var(--emSize)), rem);
    --2px  : unit( (2 / var(--emSize)), rem);
    --3px  : unit( (3 / var(--emSize)), rem);
    --4px  : unit( (4 / var(--emSize)), rem);
    --5px  : unit( (5 / var(--emSize)), rem);
    --6px  : unit( (6 / var(--emSize)), rem);
    --7px  : unit( (7 / var(--emSize)), rem);
    --8px  : unit( (8 / var(--emSize)), rem);
    --9px  : unit( (9 / var(--emSize)), rem);
    --10px : unit( (10 / var(--emSize)), rem);
    --11px : unit( (11 / var(--emSize)), rem);
    --12px : unit( (12 / var(--emSize)), rem);
    --13px : unit( (13 / var(--emSize)), rem);
    --14px : unit( (14 / var(--emSize)), rem);
    --15px : unit( (15 / var(--emSize)), rem);
    --16px : unit( (16 / var(--emSize)), rem);
    --17px : unit( (17 / var(--emSize)), rem);
    --18px : unit( (18 / var(--emSize)), rem);
    --19px : unit( (19 / var(--emSize)), rem);
    --20px : unit( (20 / var(--emSize)), rem);
    --21px : unit( (21 / var(--emSize)), rem);
    --22px : unit( (22 / var(--emSize)), rem);
    --23px : unit( (23 / var(--emSize)), rem);
    --24px : unit( (24 / var(--emSize)), rem);
    --25px : unit( (25 / var(--emSize)), rem);
    --26px : unit( (26 / var(--emSize)), rem);
    --27px : unit( (27 / var(--emSize)), rem);
    --28px : unit( (28 / var(--emSize)), rem);
    --29px : unit( (29 / var(--emSize)), rem);
    --30px : unit( (30 / var(--emSize)), rem);
    --31px : unit( (31 / var(--emSize)), rem);
    --32px : unit( (32 / var(--emSize)), rem);
    --33px : unit( (33 / var(--emSize)), rem);
    --34px : unit( (34 / var(--emSize)), rem);
    --35px : unit( (35 / var(--emSize)), rem);
    --36px : unit( (36 / var(--emSize)), rem);
    --37px : unit( (37 / var(--emSize)), rem);
    --38px : unit( (38 / var(--emSize)), rem);
    --39px : unit( (39 / var(--emSize)), rem);
    --40px : unit( (40 / var(--emSize)), rem);
    --41px : unit( (41 / var(--emSize)), rem);
    --42px : unit( (42 / var(--emSize)), rem);
    --43px : unit( (43 / var(--emSize)), rem);
    --44px : unit( (44 / var(--emSize)), rem);
    --45px : unit( (45 / var(--emSize)), rem);
    --46px : unit( (46 / var(--emSize)), rem);
    --47px : unit( (47 / var(--emSize)), rem);
    --48px : unit( (48 / var(--emSize)), rem);
    --49px : unit( (49 / var(--emSize)), rem);
    --50px : unit( (50 / var(--emSize)), rem);
    --51px : unit( (51 / var(--emSize)), rem);
    --52px : unit( (52 / var(--emSize)), rem);
    --53px : unit( (53 / var(--emSize)), rem);
    --54px : unit( (54 / var(--emSize)), rem);
    --55px : unit( (55 / var(--emSize)), rem);
    --56px : unit( (56 / var(--emSize)), rem);
    --57px : unit( (57 / var(--emSize)), rem);
    --58px : unit( (58 / var(--emSize)), rem);
    --59px : unit( (59 / var(--emSize)), rem);
    --60px : unit( (60 / var(--emSize)), rem);
    --61px : unit( (61 / var(--emSize)), rem);
    --62px : unit( (62 / var(--emSize)), rem);
    --63px : unit( (63 / var(--emSize)), rem);
    --64px : unit( (64 / var(--emSize)), rem);

    --relative1px  : unit( (1 / var(--emSize)), em);
    --relative2px  : unit( (2 / var(--emSize)), em);
    --relative3px  : unit( (3 / var(--emSize)), em);
    --relative4px  : unit( (4 / var(--emSize)), em);
    --relative5px  : unit( (5 / var(--emSize)), em);
    --relative6px  : unit( (6 / var(--emSize)), em);
    --relative7px  : unit( (7 / var(--emSize)), em);
    --relative8px  : unit( (8 / var(--emSize)), em);
    --relative9px  : unit( (9 / var(--emSize)), em);
    --relative10px : unit( (10 / var(--emSize)), em);
    --relative11px : unit( (11 / var(--emSize)), em);
    --relative12px : unit( (12 / var(--emSize)), em);
    --relative13px : unit( (13 / var(--emSize)), em);
    --relative14px : unit( (14 / var(--emSize)), em);
    --relative15px : unit( (15 / var(--emSize)), em);
    --relative16px : unit( (16 / var(--emSize)), em);
    --relative17px : unit( (17 / var(--emSize)), em);
    --relative18px : unit( (18 / var(--emSize)), em);
    --relative19px : unit( (19 / var(--emSize)), em);
    --relative20px : unit( (20 / var(--emSize)), em);
    --relative21px : unit( (21 / var(--emSize)), em);
    --relative22px : unit( (22 / var(--emSize)), em);
    --relative23px : unit( (23 / var(--emSize)), em);
    --relative24px : unit( (24 / var(--emSize)), em);
    --relative25px : unit( (25 / var(--emSize)), em);
    --relative26px : unit( (26 / var(--emSize)), em);
    --relative27px : unit( (27 / var(--emSize)), em);
    --relative28px : unit( (28 / var(--emSize)), em);
    --relative29px : unit( (29 / var(--emSize)), em);
    --relative30px : unit( (30 / var(--emSize)), em);
    --relative31px : unit( (31 / var(--emSize)), em);
    --relative32px : unit( (32 / var(--emSize)), em);
    --relative33px : unit( (33 / var(--emSize)), em);
    --relative34px : unit( (34 / var(--emSize)), em);
    --relative35px : unit( (35 / var(--emSize)), em);
    --relative36px : unit( (36 / var(--emSize)), em);
    --relative37px : unit( (37 / var(--emSize)), em);
    --relative38px : unit( (38 / var(--emSize)), em);
    --relative39px : unit( (39 / var(--emSize)), em);
    --relative40px : unit( (40 / var(--emSize)), em);
    --relative41px : unit( (41 / var(--emSize)), em);
    --relative42px : unit( (42 / var(--emSize)), em);
    --relative43px : unit( (43 / var(--emSize)), em);
    --relative44px : unit( (44 / var(--emSize)), em);
    --relative45px : unit( (45 / var(--emSize)), em);
    --relative46px : unit( (46 / var(--emSize)), em);
    --relative47px : unit( (47 / var(--emSize)), em);
    --relative48px : unit( (48 / var(--emSize)), em);
    --relative49px : unit( (49 / var(--emSize)), em);
    --relative50px : unit( (50 / var(--emSize)), em);
    --relative51px : unit( (51 / var(--emSize)), em);
    --relative52px : unit( (52 / var(--emSize)), em);
    --relative53px : unit( (53 / var(--emSize)), em);
    --relative54px : unit( (54 / var(--emSize)), em);
    --relative55px : unit( (55 / var(--emSize)), em);
    --relative56px : unit( (56 / var(--emSize)), em);
    --relative57px : unit( (57 / var(--emSize)), em);
    --relative58px : unit( (58 / var(--emSize)), em);
    --relative59px : unit( (59 / var(--emSize)), em);
    --relative60px : unit( (60 / var(--emSize)), em);
    --relative61px : unit( (61 / var(--emSize)), em);
    --relative62px : unit( (62 / var(--emSize)), em);
    --relative63px : unit( (63 / var(--emSize)), em);
    --relative64px : unit( (64 / var(--emSize)), em);

    /*******************************
                 States
    *******************************/

    /*-------------------
          Disabled
    --------------------*/

    --disabledOpacity: 0.45;
    --disabledTextColor: rgba(40, 40, 40, 0.3);
    --invertedDisabledTextColor: rgba(225, 225, 225, 0.3);

    /*-------------------
            Hover
    --------------------*/

    /*---  Shadows  ---*/
    --floatingShadowHover:
      0px 2px 4px 0px rgba(34, 36, 38, 0.15),
      0px 2px 10px 0px rgba(34, 36, 38, 0.25)
    ;

    /*---  Colors  ---*/
    --primaryColorHover    : saturate(darken(var(--primaryColor), 5), 10, relative);
    --secondaryColorHover  : saturate(lighten(var(--secondaryColor), 5), 10, relative);

    --redHover             : saturate(darken(var(--red), 5), 10, relative);
    --orangeHover          : saturate(darken(var(--orange), 5), 10, relative);
    --yellowHover          : saturate(darken(var(--yellow), 5), 10, relative);
    --oliveHover           : saturate(darken(var(--olive), 5), 10, relative);
    --greenHover           : saturate(darken(var(--green), 5), 10, relative);
    --tealHover            : saturate(darken(var(--teal), 5), 10, relative);
    --blueHover            : saturate(darken(var(--blue), 5), 10, relative);
    --violetHover          : saturate(darken(var(--violet), 5), 10, relative);
    --purpleHover          : saturate(darken(var(--purple), 5), 10, relative);
    --pinkHover            : saturate(darken(var(--pink), 5), 10, relative);
    --brownHover           : saturate(darken(var(--brown), 5), 10, relative);

    --lightRedHover        : saturate(darken(var(--lightRed), 5), 10, relative);
    --lightOrangeHover     : saturate(darken(var(--lightOrange), 5), 10, relative);
    --lightYellowHover     : saturate(darken(var(--lightYellow), 5), 10, relative);
    --lightOliveHover      : saturate(darken(var(--lightOlive), 5), 10, relative);
    --lightGreenHover      : saturate(darken(var(--lightGreen), 5), 10, relative);
    --lightTealHover       : saturate(darken(var(--lightTeal), 5), 10, relative);
    --lightBlueHover       : saturate(darken(var(--lightBlue), 5), 10, relative);
    --lightVioletHover     : saturate(darken(var(--lightViolet), 5), 10, relative);
    --lightPurpleHover     : saturate(darken(var(--lightPurple), 5), 10, relative);
    --lightPinkHover       : saturate(darken(var(--lightPink), 5), 10, relative);
    --lightBrownHover      : saturate(darken(var(--lightBrown), 5), 10, relative);
    --lightGreyHover       : saturate(darken(var(--lightGrey), 5), 10, relative);
    --lightBlackHover      : saturate(darken(var(--fullBlack), 5), 10, relative);

    /*---  Emotive  ---*/
    --positiveColorHover   : saturate(darken(var(--positiveColor), 5), 10, relative);
    --negativeColorHover   : saturate(darken(var(--negativeColor), 5), 10, relative);

    /*---  Brand   ---*/
    --facebookHoverColor   : saturate(darken(var(--facebookColor), 5), 10, relative);
    --twitterHoverColor    : saturate(darken(var(--twitterColor), 5), 10, relative);
    --googlePlusHoverColor : saturate(darken(var(--googlePlusColor), 5), 10, relative);
    --linkedInHoverColor   : saturate(darken(var(--linkedInColor), 5), 10, relative);
    --youtubeHoverColor    : saturate(darken(var(--youtubeColor), 5), 10, relative);
    --instagramHoverColor  : saturate(darken(var(--instagramColor), 5), 10, relative);
    --pinterestHoverColor  : saturate(darken(var(--pinterestColor), 5), 10, relative);
    --vkHoverColor         : saturate(darken(var(--vkColor), 5), 10, relative);

    /*---  Dark Tones  ---*/
    --fullBlackHover       : lighten(var(--fullBlack), 5);
    --blackHover           : lighten(var(--black), 5);
    --greyHover            : lighten(var(--grey), 5);

    /*---  Light Tones  ---*/
    --whiteHover           : darken(var(--white), 5);
    --offWhiteHover        : darken(var(--offWhite), 5);
    --darkWhiteHover       : darken(var(--darkWhite), 5);

    /*-------------------
            Focus
    --------------------*/

    /*---  Colors  ---*/
    --primaryColorFocus    : saturate(darken(var(--primaryColor), 8), 20, relative);
    --secondaryColorFocus  : saturate(lighten(var(--secondaryColor), 8), 20, relative);

    --redFocus             : saturate(darken(var(--red), 8), 20, relative);
    --orangeFocus          : saturate(darken(var(--orange), 8), 20, relative);
    --yellowFocus          : saturate(darken(var(--yellow), 8), 20, relative);
    --oliveFocus           : saturate(darken(var(--olive), 8), 20, relative);
    --greenFocus           : saturate(darken(var(--green), 8), 20, relative);
    --tealFocus            : saturate(darken(var(--teal), 8), 20, relative);
    --blueFocus            : saturate(darken(var(--blue), 8), 20, relative);
    --violetFocus          : saturate(darken(var(--violet), 8), 20, relative);
    --purpleFocus          : saturate(darken(var(--purple), 8), 20, relative);
    --pinkFocus            : saturate(darken(var(--pink), 8), 20, relative);
    --brownFocus           : saturate(darken(var(--brown), 8), 20, relative);

    --lightRedFocus        : saturate(darken(var(--lightRed), 8), 20, relative);
    --lightOrangeFocus     : saturate(darken(var(--lightOrange), 8), 20, relative);
    --lightYellowFocus     : saturate(darken(var(--lightYellow), 8), 20, relative);
    --lightOliveFocus      : saturate(darken(var(--lightOlive), 8), 20, relative);
    --lightGreenFocus      : saturate(darken(var(--lightGreen), 8), 20, relative);
    --lightTealFocus       : saturate(darken(var(--lightTeal), 8), 20, relative);
    --lightBlueFocus       : saturate(darken(var(--lightBlue), 8), 20, relative);
    --lightVioletFocus     : saturate(darken(var(--lightViolet), 8), 20, relative);
    --lightPurpleFocus     : saturate(darken(var(--lightPurple), 8), 20, relative);
    --lightPinkFocus       : saturate(darken(var(--lightPink), 8), 20, relative);
    --lightBrownFocus      : saturate(darken(var(--lightBrown), 8), 20, relative);
    --lightGreyFocus       : saturate(darken(var(--lightGrey), 8), 20, relative);
    --lightBlackFocus      : saturate(darken(var(--fullBlack), 8), 20, relative);

    /*---  Emotive  ---*/
    --positiveColorFocus   : saturate(darken(var(--positiveColor), 8), 20, relative);
    --negativeColorFocus   : saturate(darken(var(--negativeColor), 8), 20, relative);

    /*---  Brand   ---*/
    --facebookFocusColor   : saturate(darken(var(--facebookColor), 8), 20, relative);
    --twitterFocusColor    : saturate(darken(var(--twitterColor), 8), 20, relative);
    --googlePlusFocusColor : saturate(darken(var(--googlePlusColor), 8), 20, relative);
    --linkedInFocusColor   : saturate(darken(var(--linkedInColor), 8), 20, relative);
    --youtubeFocusColor    : saturate(darken(var(--youtubeColor), 8), 20, relative);
    --instagramFocusColor  : saturate(darken(var(--instagramColor), 8), 20, relative);
    --pinterestFocusColor  : saturate(darken(var(--pinterestColor), 8), 20, relative);
    --vkFocusColor         : saturate(darken(var(--vkColor), 8), 20, relative);

    /*---  Dark Tones  ---*/
    --fullBlackFocus       : lighten(var(--fullBlack), 8);
    --blackFocus           : lighten(var(--black), 8);
    --greyFocus            : lighten(var(--grey), 8);

    /*---  Light Tones  ---*/
    --whiteFocus           : darken(var(--white), 8);
    --offWhiteFocus        : darken(var(--offWhite), 8);
    --darkWhiteFocus       : darken(var(--darkWhite), 8);


    /*-------------------
        Down (:active)
    --------------------*/

    /*---  Colors  ---*/
    --primaryColorDown    : darken(var(--primaryColor), 10);
    --secondaryColorDown  : lighten(var(--secondaryColor), 10);

    --redDown             : darken(var(--red), 10);
    --orangeDown          : darken(var(--orange), 10);
    --yellowDown          : darken(var(--yellow), 10);
    --oliveDown           : darken(var(--olive), 10);
    --greenDown           : darken(var(--green), 10);
    --tealDown            : darken(var(--teal), 10);
    --blueDown            : darken(var(--blue), 10);
    --violetDown          : darken(var(--violet), 10);
    --purpleDown          : darken(var(--purple), 10);
    --pinkDown            : darken(var(--pink), 10);
    --brownDown           : darken(var(--brown), 10);

    --lightRedDown        : darken(var(--lightRed), 10);
    --lightOrangeDown     : darken(var(--lightOrange), 10);
    --lightYellowDown     : darken(var(--lightYellow), 10);
    --lightOliveDown      : darken(var(--lightOlive), 10);
    --lightGreenDown      : darken(var(--lightGreen), 10);
    --lightTealDown       : darken(var(--lightTeal), 10);
    --lightBlueDown       : darken(var(--lightBlue), 10);
    --lightVioletDown     : darken(var(--lightViolet), 10);
    --lightPurpleDown     : darken(var(--lightPurple), 10);
    --lightPinkDown       : darken(var(--lightPink), 10);
    --lightBrownDown      : darken(var(--lightBrown), 10);
    --lightGreyDown       : darken(var(--lightGrey), 10);
    --lightBlackDown      : darken(var(--fullBlack), 10);

    /*---  Emotive  ---*/
    --positiveColorDown   : darken(var(--positiveColor), 10);
    --negativeColorDown   : darken(var(--negativeColor), 10);

    /*---  Brand   ---*/
    --facebookDownColor   : darken(var(--facebookColor), 10);
    --twitterDownColor    : darken(var(--twitterColor), 10);
    --googlePlusDownColor : darken(var(--googlePlusColor), 10);
    --linkedInDownColor   : darken(var(--linkedInColor), 10);
    --youtubeDownColor    : darken(var(--youtubeColor), 10);
    --instagramDownColor  : darken(var(--instagramColor), 10);
    --pinterestDownColor  : darken(var(--pinterestColor), 10);
    --vkDownColor         : darken(var(--vkColor), 10);

    /*---  Dark Tones  ---*/
    --fullBlackDown       : lighten(var(--fullBlack), 10);
    --blackDown           : lighten(var(--black), 10);
    --greyDown            : lighten(var(--grey), 10);

    /*---  Light Tones  ---*/
    --whiteDown           : darken(var(--white), 10);
    --offWhiteDown        : darken(var(--offWhite), 10);
    --darkWhiteDown       : darken(var(--darkWhite), 10);


    /*-------------------
            Active
    --------------------*/

    /*---  Colors  ---*/
    --primaryColorActive    : saturate(darken(var(--primaryColor), 5), 15, relative);
    --secondaryColorActive  : saturate(lighten(var(--secondaryColor), 5), 15, relative);

    --redActive             : saturate(darken(var(--red), 5), 15, relative);
    --orangeActive          : saturate(darken(var(--orange), 5), 15, relative);
    --yellowActive          : saturate(darken(var(--yellow), 5), 15, relative);
    --oliveActive           : saturate(darken(var(--olive), 5), 15, relative);
    --greenActive           : saturate(darken(var(--green), 5), 15, relative);
    --tealActive            : saturate(darken(var(--teal), 5), 15, relative);
    --blueActive            : saturate(darken(var(--blue), 5), 15, relative);
    --violetActive          : saturate(darken(var(--violet), 5), 15, relative);
    --purpleActive          : saturate(darken(var(--purple), 5), 15, relative);
    --pinkActive            : saturate(darken(var(--pink), 5), 15, relative);
    --brownActive           : saturate(darken(var(--brown), 5), 15, relative);

    --lightRedActive        : saturate(darken(var(--lightRed), 5), 15, relative);
    --lightOrangeActive     : saturate(darken(var(--lightOrange), 5), 15, relative);
    --lightYellowActive     : saturate(darken(var(--lightYellow), 5), 15, relative);
    --lightOliveActive      : saturate(darken(var(--lightOlive), 5), 15, relative);
    --lightGreenActive      : saturate(darken(var(--lightGreen), 5), 15, relative);
    --lightTealActive       : saturate(darken(var(--lightTeal), 5), 15, relative);
    --lightBlueActive       : saturate(darken(var(--lightBlue), 5), 15, relative);
    --lightVioletActive     : saturate(darken(var(--lightViolet), 5), 15, relative);
    --lightPurpleActive     : saturate(darken(var(--lightPurple), 5), 15, relative);
    --lightPinkActive       : saturate(darken(var(--lightPink), 5), 15, relative);
    --lightBrownActive      : saturate(darken(var(--lightBrown), 5), 15, relative);
    --lightGreyActive       : saturate(darken(var(--lightGrey), 5), 15, relative);
    --lightBlackActive      : saturate(darken(var(--fullBlack), 5), 15, relative);

    /*---  Emotive  ---*/
    --positiveColorActive   : saturate(darken(var(--positiveColor), 5), 15, relative);
    --negativeColorActive   : saturate(darken(var(--negativeColor), 5), 15, relative);

    /*---  Brand   ---*/
    --facebookActiveColor   : saturate(darken(var(--facebookColor), 5), 15, relative);
    --twitterActiveColor    : saturate(darken(var(--twitterColor), 5), 15, relative);
    --googlePlusActiveColor : saturate(darken(var(--googlePlusColor), 5), 15, relative);
    --linkedInActiveColor   : saturate(darken(var(--linkedInColor), 5), 15, relative);
    --youtubeActiveColor    : saturate(darken(var(--youtubeColor), 5), 15, relative);
    --instagramActiveColor  : saturate(darken(var(--instagramColor), 5), 15, relative);
    --pinterestActiveColor  : saturate(darken(var(--pinterestColor), 5), 15, relative);
    --vkActiveColor         : saturate(darken(var(--vkColor), 5), 15, relative);

    /*---  Dark Tones  ---*/
    --fullBlackActive       : darken(var(--fullBlack), 5);
    --blackActive           : darken(var(--black), 5);
    --greyActive            : darken(var(--grey), 5);

    /*---  Light Tones  ---*/
    --whiteActive           : darken(var(--white), 5);
    --offWhiteActive        : darken(var(--offWhite), 5);
    --darkWhiteActive       : darken(var(--darkWhite), 5);

}


