:root {
    --space-1: 0.5rem;
    --space-2: calc(var(--space-1) * 2);
    --font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "宋体", serif;
    --color-accent: #DB2828;
    --color-primary: #35956a;
    --color-secondary: #41bc85;
    --color-tertiary: #65cb9e;
    --white: #fff;
    --color-gray: #b2b2b2;
    --color-gray-light: #cbcbcb;
    --color-primary-text: color(#000 a(70%));
    --color-secondary-text: color(#000 a(50%)); 
}
